.movies{
    margin: 0;
    padding: 0 70px 0 70px;
}

.movies__container{
    max-width: 1280px;
    margin: 0 auto 62px;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 37px 17px;
}