.about-me__container{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    
}

.about-me__title{
    margin: 100px 0 0 0;
    padding: 0;
    color: black;
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: -0.88px;
}

.about-me__border{
    width: 100%;
    border: 1px solid black;
    margin: 0 0 70px 0;
}

.about-me__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 110px 0;
    width: 100%;
    justify-content: space-between;
}

.about-me__block_text{
    margin: 0;
    padding: 0;
    max-width: 600px;
}

.about-me__block-title{
    margin: 0 0 26px 0;
    padding: 0;
    color: black;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: -2px;
}

.about-me__block-subtitle{
    margin: 0 0 26px 0;
    padding: 0;
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.about-me__block-about{
    margin: 0 0 26px 0;
    padding: 0;
    color: black;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.about-me__block_photo{
    width: 270px;
    height: 327px;
    border-radius: 10px;
}

.about-me__link{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    cursor: pointer;
    border: none;
    text-decoration: none;
    align-self: flex-end;
}

.about-me__link:hover{
    opacity: 0.8;
    transition: 0.2s ease;
}