.login__container {
    max-width: 396px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login__title {
    margin: 20px 0 58px 0;
    color: black;
    font-size: 24px;
    line-height: normal;
    font-weight: 500;
    align-self: flex-start;
}

.login__form {
    margin: 0;
    width: 396px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    position: relative;
}

.login__input {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;    
    color: black;
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #CCC;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    padding: 0;
    padding-bottom: 9px;
}

.login__button {
    background-color: #3456F3;
    min-height: 45px;
    color: white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    border: none;
    margin: 178px 0 17px 0;
}

.login__button:hover{
    opacity: 0.8;
    transition: 0.2s ease;
}

.login__link-group{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.login__link_text{
    margin: 0;
    padding: 0;
    color: #A0A0A0;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
}

.login__link {
    margin: 0;
    padding: 0;
    color: #3456F3;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.login__link:hover{
    opacity: 0.8;
    transition: 0.2s ease;
}
